body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  padding: 50px;
  margin: 0;
}

.button {
  padding: 30px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px auto;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
  color: #fff;
}

.button-facebook {
  background-color: #3b5998;
  font-size: 40px;
  width: 400px;
}

.button-twitter {
  background-color: #4099FF;
  font-size: 30px;
  width: 300px;
}

.container {
  width:60%;
  max-width: 1080px;
  min-width: 400px;
}
